.statsButton {
    background-color: #fff;
    border: none;
    text-decoration: underline;
    color: #E0992C;
    font-size: 18px;
    font-weight: 700;
}

.statsButton:hover {
    cursor: pointer;
    color: #ff0081;
}

.luckyButton {
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    background-color: #ff0081;
    margin: 30px 0px;
    width: 50%;
}

.luckyButton:hover {
    background-color: #fff;
    color: #ff0081;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #ff0081;
}

.quizzeItem {
    border: 1px solid #E0992C;
    border-radius: 7px;
    margin-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
}

@media(min-width: 448px) {
    .quizzeContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .headContainer {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }

    .statsButton{
        margin-left: 20px;
    }

}

@media(min-width: 990px) {
    .quizzeContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}