.home {
    text-align: center;
    
}

h1{
    color: #E0992C;
}

button {
    background-color: #E0992C;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
    padding: 10px;
}

button:hover {
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #E0992C;
    color: #E0992C;
    cursor: pointer;
}

.luckyButton {
    background-color: #ff0081;
    margin: 30px 0px;
    width: 50%;
}

.luckyButton:hover {
    color: #ff0081;
    box-shadow: 0px 0px 2px 2px #ff0081;
}

.quizzeItem {
    border: 1px solid #E0992C;
    border-radius: 7px;
    margin-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
}

h3, p{
    color: #895D3C;
}

@media(min-width: 448px) {
    .quizzeContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
}
@media(min-width: 648px) {
    .home {
        margin: 40px;
    }

    h1 {
        font-size: 42px;
    }

    button {
        font-size: 15px;
        width: 120px;
    }
}

@media(min-width: 990px) {
    .quizzeContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}