.textDetails {
    color: #ff0081;
}

.buttonHomeContainer {
    margin-top: 40px;
}

.buttonHome {
    background-color: #ff0081;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

.buttonHome:hover {
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #ff0081;
    color: #ff0081;
    cursor: pointer;
}


@media(min-width: 648px) {
    .additionalTitle, .text, .buttonHome {
        font-size: 24px;
    }
    .buttonHome {
        padding: 15px;
    }
}